body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    margin: 10px;
    background-color:rgb(98, 155, 212);
    color:#f0f0f0;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.form {
    margin-top: 20px;
}

input[type="file"]::file-selector-button {
    margin: 6px;
    background-color:rgb(98, 212, 187);
    color:#f0f0f0;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
  }